body {
    font-family: Arial, sans-serif;
    background-color: #e8de81 !important;
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #f9f9f9;
}

main {
    text-align: center;
    margin-top: 100px;
}